In [82]:
import numpy as np
import random as r

In [83]:
ex = np.array([1,2,3,4,5,6])
ex

array([1, 2, 3, 4, 5, 6])

In [84]:
ex.shape

(6,)

In [34]:
example = 1,2,3,4,5,6,7,8,9
ex = np.array(example)
ex
ex.shape = (3,3)
ex

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [40]:
lis = input("")
print(lis)

1,2,3,4,5,6,7,8,9
1,2,3,4,5,6,7,8,9

In [41]:
li = np.array(lis)
li

array('1,2,3,4,5,6,7,8,9', dtype='<U17')

In [42]:
li.shape = (3,3)
li

ValueError: cannot reshape array of size 1 into shape (3,3)

In [45]:
example = 1,1,2,3,4,5,6,7,8,9,10
print(sum(example)/len(example))

5.090909090909091

In [73]:

for number in range(3,22,3):
    num = number - 10
    num = num **2
    print(num)

49
16
1
4
25
64
121

In [76]:
ans = 49 + 16 + 1 + 4 + 25 + 64 + 121 
avg = ans / 6
avg

46.666666666666664

In [80]:
3+1.5*(9-3)

12.0

In [86]:
count = 100
while count <= 100:
    id = r.randint(10100,101999)
    count +=1
    print(id)
    break

42586

In [ ]:
def NUMPY():
  my_array = np.array([1,2,3,4,5,6])
  print("The original array,",my_array)

  print("New array")
  print(np.reshape(my_array,(3,2)))